body {
  margin: 0;
  padding: 0;

  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  font-family: "PT Sans", Arial, sans-serif;
  color: #333333;
  text-transform: uppercase;
  background-color: #f2f2f2;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 0;

  background-color: #ffffff;
  box-shadow: 0px 5px 15px rgba(0, 1, 1, 0.2);
}

.main-navigation {
  position: relative;

  display: flex;

  font-weight: 700;
  line-height: 26px;
  color: #000000;

  background-color: #ffffff;
}

.main-header-logo {
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -70px;
  z-index: 1;

  display: block;
  width: 140px;
  height: 71px;
}

.site-navigation {
  width: 1200px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  padding-right: 72px;
  padding-left: 72px;

  list-style: none;
}

.site-navigation li {
  width: 239px;
  padding-top: 13px;
  padding-bottom: 17px;

  color: inherit;
}

.site-navigation li:nth-child(4n-2) {
  margin-right: auto;
}

.site-navigation li:nth-last-child(2),
.site-navigation li:last-child {
  text-align: right;
}

.site-navigation a {
  color: inherit;
}

.site-navigation a[href]:hover,
.site-navigation a[href]:focus {
  color: #81b3d2;
}

.site-navigation a[href]:active {
  color: rgba(0, 0, 0, 0.3);
}

.site-navigation-current a {
  color: #766357;
}

.mountains-bg {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 508px;

  background: url("../img/background.jpg") no-repeat top center;
  background-color: #ffffff;
  background-size: 100%;
}

.mountains-bg img {
  width: 459px;
  height: 353px;
}

.main-text {
  width: 489px;
  padding-top: 59px;
  padding-bottom: 51px;
  margin: 0 auto;

  text-align: center;
}

.mountains-bg::before {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 0;
  z-index: 1;
  width: 1200px;
  height: 59px;

  background-image: url("../img/intro-mask.svg");
  background-repeat: no-repeat;
  background-position: top center;
}

.main-text b {
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  color: #000000;
}

.main-text p {
  margin: 0;
  padding: 0;
  padding-top: 29px;
  line-height: 26px;
}

.features-list {
  list-style: none;
}

.devils-bridge {
  display: flex;
  color: #ffffff;
}

.real-city {
  display: flex;
  flex-wrap: wrap;
}

.real-life,
.about-bridge {
  width: 400px;
  padding-top: 46px;
  padding-right: 60px;
  padding-bottom: 60px;
  padding-left: 60px;
  color: #ffffff;

  background-color: #81b3d2;
}

.features-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.real-life,
.about-bridge {
  min-height: 256px;
  padding-bottom: 20px;
}

.features-item h3 {
  margin: 0;
  padding: 0;
  width: 150px;
  margin: 0 auto;
  padding-bottom: 26px;

  font-size: 21px;
  text-align: center;
}

.features-item p {
  margin: 0;
  padding: 0;

  text-align: center;
}

.features-item .number {
  padding-bottom: 22px;
}

.city-features {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;

  list-style: none;
  color: #333333;

  background-color: #ffffff;
}

.city-features h4 {
  margin: 0;
  padding: 0;
  padding-bottom: 22px;

  font-size: 21px;
  color: #000000;
}

.city-features li {
  width: 400px;
  min-height: 330px;
  padding: 50px;
  padding-top: 162px;
  padding-bottom: 20px;

  text-align: center;
}

.city-features .home {
  background: url(../img/home.svg) no-repeat 162px 60px;
}

.city-features .food {
  background: url(../img/food.svg) no-repeat 162px 60px;
}

.city-features .souvenir {
  background: url(../img/souvenir.svg) no-repeat 168px 57px;
}

.about-bridge {
  order: 2;
  width: 400px;
  padding: 48px;
  padding-top: 47px;
  padding-bottom: 20px;
}

.last-advantage {
  width: 400px;
  min-height: 256px;

  padding-top: 48px;
  padding-right: 75px;
  padding-bottom: 20px;
  padding-left: 75px;
  background-color: #eeeeee;
}

.last-advantage h3 {
  padding-bottom: 23px;
}

.features {
  margin-bottom: 51px;
}

.search-hotels h2 {
  margin: 0;
  padding: 0;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  padding-bottom: 24px;

  text-align: center;
}

.search-hotels p {
  margin: 0;
  padding: 0;
  line-height: 24px;
  padding-bottom: 47px;

  text-align: center;
}

.button {
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;

  background-color: #766357;
}

.button:hover,
.button:focus {
  background-color: #604e43;
}

.button:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #503e33;
}

.search-hotels .button {
  display: block;
  width: 568px;
  padding: 30px 100px;
  margin: 0 auto;
  font-size: 21px;
  line-height: 26px;
}

.form-hotels {
  position: absolute;
  z-index: 1;
  left: 50%;
  width: 568px;
  margin-left: -284px;
  min-height: 395px;
  padding: 55px;

  background-color: #ffffff;
  box-shadow: 0px 7px 15px 0 rgba(0, 1, 1, 0.15);
}

.form-hotels label {
  font-weight: bold;
  line-height: 1.86;

  text-align: left;
  color: #000000;
}

.form-hotels p {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline;
  line-height: 1.86;
  padding-bottom: 28px;
}

.form-hotels input {
  width: 346px;
  height: 38px;
  padding: 13px;
  background-color: #f2f2f2;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  font-weight: bold;
  line-height: 1.86;
  text-align: left;
  color: #000000;
  border: none;
  text-transform: uppercase;
}

.form-hotels p:nth-child(2) {
  padding-bottom: 31px;
}

.amount-columns {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 23px;
}

.form-hotels .amount {
  position: relative;
  width: 189px;
}

.amount input {
  width: 38px;
  padding-left: 5px;
  padding-right: 5px;
  text-align: center;
}

.amount:nth-child(2) {
  width: 140px;
  margin-right: 38px;
}

.form-hotels .amount-button {
  position: absolute;
  top: 0;
  left: 113px;
  width: 38px;
  height: 38px;
  border: none;
  background-color: #f2f2f2;
}

.amount:nth-child(2) .amount-button {
  left: 65px;
}

.amount:nth-child(2) .increase {
  left: 140px;
}

.amount .increase {
  left: 188px;
}

.amount .increase::after {
  content: "";
  position: absolute;
  top: 13.5px;
  left: 18px;
  width: 2px;
  height: 11px;
  background-color: #a9a9a9;
}

.amount-button::before {
  content: "";
  position: absolute;

  background-color: #a9a9a9;
}

.amount-button:hover::before,
.amount-button:hover::after {
  background-color: #000000;
}

.amount-button:active::before,
.amount-button:active::after {
  background-color: #81b3d2;
}

.reduce::before {
  top: 17px;
  left: 12px;
  width: 12px;
  height: 3px;
}

.increase::before {
  top: 17px;
  left: 14px;
  width: 11px;
  height: 3px;
}

.form-hotels .icon-calendar {
  position: absolute;
  top: 6px;
  right: 2px;
  border: none;
  background-color: transparent;
}

.icon-calendar:hover path {
  fill: #000000;
}

.icon-calendar:active path {
  fill: #81b3d2;
}

.form-hotels .button {
  width: 100%;
  min-height: 58px;
  line-height: 26px;
  background-color: #81b3d2;
  padding-top: 16px;
  padding-bottom: 16px;
  border: none;
}

.cite-footer {
  position: relative;
}

.footer-contacts,
.footer-contacts a {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  color: #000000;
}

.main-footer p,
.main-footer ul {
  margin: 0;
  padding: 0;

  width: 400px;
}

.main-footer {
  position: absolute;
  z-index: 1;
  width: 1200px;
  bottom: 5px;
  left: 0;
  opacity: 0.9;
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 120px;
}

.main-footer p,
.main-footer ul {
  width: 400px;
  text-align: center;
}

.main-footer .footer-contacts {
  padding-left: 123px;
  text-align: left;
}

.inner-page .footer-contacts {
  padding-left: 129px;
}

.footer-copyright b {
  font-weight: 400;
  line-height: 26px;
  color: #000000;
}

.social-button {
  display: block;
  position: relative;
  width: 46px;
  height: 48px;
  background-color: #81b3d2;
}

.main-footer .footer-social {
  display: flex;
  justify-content: center;
}

.footer-social li {
  margin-right: 6px;
}

.footer-social li:last-child {
  margin-right: 0;
}

.social-button::before {
  content: "";
  position: absolute;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.social-button-tw::before {
  width: 15px;
  height: 18px;
  background-image: url(../img/tw-icon.svg);
}

.social-button-fb::before {
  width: 12px;
  height: 22px;
  background-image: url(../img/fb-icon.svg);
}

.social-button-youtube::before {
  width: 20px;
  height: 16px;
  background-image: url(../img/youtube-icon.svg);
}

.html-academy {
  width: 115px;
  height: 41px;
}

.logo-html {
  vertical-align: middle;
  display: inline-block;
  padding-left: 5px;
}

.logo-html:hover path,
.logo-html:focus path {
  fill: #81b3d2;
}

.logo-html:active path {
  fill: #bdbbbc;
}

.footer-social a {
  background-color: #81b3d2;
}

.footer-social a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-button:hover,
.social-button:focus {
  background-color: #669ec0;
}

.social-button:active {
  background-color: #5496bd;
}

.social-button:active::before {
  opacity: 0.3;
}

.footer-social {
  list-style: none;
}

.footer-contacts a:hover,
.footer-contacts a:focus {
  color: #81b3d2;
}

.footer-contacts a:active {
  color: #bdbbbc;
}

.inner-page .button {
  display: inline-block;
  vertical-align: top;
  margin-right: 3px;
  padding: 3px 17px;

  max-width: 250px;
  font: inherit;
  font-weight: 700;
  text-align: center;

  background-color: #81b3d2;
}

.inner-page .button-buy {
  background-color: #766357;
}

.button:hover,
.button:focus,
.button:active {
  background-color: #663d15;
}

.button.disabled,
.button:disabled {
  cursor: default;
  opacity: 0.5;
  background-color: #000000;
}

.filters {
  color: #ffffff;

  min-height: 217px;
  width: 100%;

  background-color: #6688ae;
  background-image: url("../img/filter-background.jpg");

  padding-top: 28px;

  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.filter-item legend {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 26px;
}

.filter-item {
  border: 0 none;
}

.filter-item ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.filter-item li {
  margin-bottom: 25px;
  padding-left: 40px;
}

.filter-item label {
  position: relative;

  display: block;

  cursor: pointer;
  user-select: none;
}

.filter-input + label::before {
  content: "";
  position: absolute;
  top: 0px;
  left: -40px;

  width: 23px;
  height: 23px;

  background: url(../img/checkbox-off.svg) no-repeat center center;
}

.filter-input:checked + label::after {
  content: "";

  position: absolute;
  top: 0;
  left: -40px;

  width: 27px;
  height: 23px;

  background: url(../img/checkbox-on.svg) no-repeat center center;
}

.filter-input:disabled + label::before {
  content: "";
  position: absolute;
  top: 0px;
  left: -40px;

  width: 23px;
  height: 23px;

  background: url(../img/checkbox-off-disabled.svg) no-repeat center center;
}

.filter-input:disabled:checked + label::after {
  content: "";
  position: absolute;
  top: 0px;
  left: -40px;

  width: 23px;
  height: 23px;

  background: url(../img/checkbox-on-disabled.svg) no-repeat center center;
}

.filter-column .filter-item {
  width: 316px;
}

.filter-column legend {
  margin-bottom: 11px;
}

.price-controls {
  position: relative;
  height: 36px;
  margin-bottom: 20px;
  font-size: 0;

  border: 2px solid #ffffff;
  border-radius: 2px;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;

  width: 2px;
  height: 22px;

  background: #ffffff;
  transform: translate(-50%, -50%);
}

.price-controls input {
  font-size: 14px;
  line-height: 21px;
  text-align: left;
  padding-left: 3px;
  color: #ffffff;

  background-color: transparent;
  width: 62px;
  margin: 0;

  color: inherit;
  font: inherit;

  background: none;
  border: none;
}

.price-controls .min-price,
.price-controls .max-price {
  width: 147px;
  padding-left: 61px;
}

.price-controls label {
  display: inline-block;

  font-size: 14px;
  line-height: 32px;
  vertical-align: top;

  cursor: pointer;
}

.range-controls {
  position: relative;

  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;

  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;

  background: #ffffff;
}

.toggle {
  position: absolute;
  top: -8px;

  width: 20px;
  height: 20px;

  padding: 0;
  background-color: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.toggle-min {
  left: 0;
}

.toggle-max {
  left: 80%;
}

.toggle:hover,
.toggle:focus {
  background: #1c4f80;
}

.filters .filters-button {
  font-weight: 400;
  width: 136px;
  margin-left: 83px;
  padding-top: 0;
  padding-bottom: 0;
  line-height: 32px;
  background-color: transparent;
  border: 2px solid #ffffff;
}

.filters-button:hover,
.filters-button:focus {
  color: #000000;

  background-color: #ffffff;
}

.filters-button:active {
  background-color: #ffffff;
  opacity: 0.9;
}

.sort {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  padding-top: 30px;
  font-size: 12px;
  min-height: 86px;
  line-height: 18px;
  color: #000000;
  padding-right: 72px;
  padding-left: 72px;

  background-color: #fefefe;
}

.sort p,
.sort h2 {
  margin: 0;
  padding: 0;
}

.sort p {
  margin-right: 47px;
}

.sort h2 {
  font-size: 12px;
  line-height: 18px;
  margin-right: 40px;
}

.sort .sort-item {
  margin-right: 33px;
}

.sort .indicators {
  margin-left: auto;
}

.sort .sort-indicator-up {
  margin-right: 10px;
}

.sort-item {
  color: rgba(0, 0, 0, 0.3);

  border-bottom: 1px dotted #81b3d2;
}

.sort-item:hover,
.sort-item:focus {
  color: #81b3d2;
}

.sort-item:active {
  color: #000000;

  border: none;
}

.sort-indicator-down svg {
  transform: rotate(180deg);
}

.sort-indicator:hover path,
.sort-indicator:focus path {
  fill: #231f20;
}

.sort-indicator:active path {
  fill: #81b3d2;
}

.sort-info {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
}

.sort-indicator-current path {
  fill: #81b3d2;
}

.sort-item-current {
  color: #81b3d2;

  border: none;
}

.sort-item-current:hover,
.sort-item-current:focus {
  border-bottom: 1px dotted #81b3d2;
}

.sort-item-current:active {
  border: none;
}

.hotels {
  margin: 0;
  padding: 0;

  list-style: none;
}

.hotels li {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  border-top: 1px solid #e5e5e5;
  padding-top: 26px;
  padding-right: 72px;
  padding-bottom: 28px;
  padding-left: 72px;
}

.hotels li:last-child {
  border-bottom: 1px solid #e5e5e5;
}

.hotels h3 {
  margin: 0;
  padding: 0;
  margin-bottom: 6px;
}

.hotels img {
  width: 135px;
  height: 90px;
  margin-top: 5px;
  margin-right: 30px;
}

.hotels .comfort {
  position: relative;
  margin-left: auto;
  margin-top: 4px;
  padding-top: 64px;
}

.hotels .comfort::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 89px;
  height: 17px;
  z-index: 1;


  background-image: url(../img/star.svg);
  background-repeat: space;
}

.hotels-item .four-stars::before {
  width: 89px;
}

.hotels-item .three-stars::before {
  width: 63px;
}

.hotels-item .two-stars::before {
  width: 40px;
}

.hotel-name {
  font-size: 21px;
  line-height: 26px;
  color: #000000;
}

.hotel-name:hover,
.hotel-name:focus {
  color: #81b3d2;
}

.column-hotel table {
  width: 232px;
  border-spacing: 0;
  margin-bottom: 14px;
}

.hotels-item td {
  width: 96px;
}

.hotel-name:active {
  color: rgba(0, 0, 0, 0.3);
}

.rating {
  display: block;
  padding: 4px 14px;;
  color: #666666;
  background-color: #f2f2f2;
}

.button-info {
  background-color: #81b3d2;
}

.button-info:hover,
.button-info:focus {
  background-color: #669ec0;
}

.button-info:active {
  background-color: #5496bd;
}

.filters form {
  display: flex;
  padding-right: 72px;
  padding-left: 72px;
}

.filters fieldset {
  width: 255px;
  padding: 0;
  margin: 0;
}

.filter-column {
  width: 316px;
  margin-left: auto;
}

.inner-page .main-footer {
  position: static;
  background-color: #ffffff;
}
